<br>
<p style="text-align: center;font-size: 25pt;font-weight: 100">리뷰내용보기</p>

</p>


<table class="table table-striped" style="width: 1000px;height: 200px; margin: 0 auto">
        <thead>
          <tr>
            <th scope="col"><%= data.review.rTitle %></th>

          </tr>
        </thead>
        <tbody>
          <tr>

            <td><%= data.review.rContents %></td>

          </tr>
          
        </tbody>
      </table>





<br><br><br><br><br>

<p style="text-align: center; font-size: 25pt;font-weight: 100">영화 리뷰 댓글</p>

<form action="http://10.1.216.243:3000/movie/reviewDetail?reviewId=<%=data.review.reviewId%>" method="POST">
    <div class="input-group mb-3" style="width: 1000px; margin: 0 auto">
        <input type="text" class="form-control" placeholder="댓글 입력" aria-label="Recipient's username"
            aria-describedby="button-addon2" name="replyContents">
        <div class="input-group-append">
                <input type="submit" class="btn btn-primary text-right" value="확인">

        </div>
    </div>
</form>



<table class="table" style="width: 1000px; margin: 0 auto;">
    <thead class="thead-dark">
        <tr>

            <th style="text-align: center" scope="col">회원 이름</th>
            <th style="text-align: center" scope="col">댓글 내용</th>

        </tr>
    </thead>

    <tbody>
        <% for(var i=0; i < data.reply.length; i++) {%>
        <tr>

            <td style="text-align: center"><%=data.reply[i].userName%></td>
            <td style="text-align: center"><%=data.reply[i].replyContents%></td>
        </tr>
        <% } %>
    </tbody>
</table>

<br><br><br>